body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mountains of Christmas', serif;
    font-style: italic;
    font-weight: 900;
    font-size: x-large;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('15.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.dropdown {
    position: absolute;
    top: 20px;
    left: 20px;
}

#peopleDropdown {
    padding: 8px;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

#hail {
    display: none;
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 20px;
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% {
        color: hsl(60, 100%, 50%);
    }

    25% {
        color: hsl(60, 70%, 50%);
    }

    50% {
        color: hsl(30, 75%, 50%);
    }

    75% {
        color: hsl(30, 100%, 50%);
    }

    100% {
        color: hsl(60, 100%, 50%);
    }

}